APPWRITE_API=
NEXT_PUBLIC_ORIGIN=
ADMINS=
BLOCKBEE_API=
NEXT_PUBLIC_APP_URL=
CLOUDFLARE_TURNSTILE_SECRET=
ATTACHMENT_URL_TTL_SECONDS=
NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_KEY=
NEXT_PUBLIC_APP_URI=
ATTACHMENT_URL_SIGNING_SECRET=
NEXT_PUBLIC_NOTES_PAGE_SIZE=
GOOGLE_API_KEY=
GEMINI_MODEL_NAME=
NEXT_PUBLIC_LOGGING_VERBOSE=
AUTH_SUBDOMAIN=
CLOUDFLARE_API=
