# Required by Appwrite Function Runtime
# APPWRITE_FUNCTION_PROJECT_ID= (Built-in)
# APPWRITE_FUNCTION_API_KEY= (Built-in)
# APPWRITE_FUNCTION_ENDPOINT= (Built-in)

# Custom Kylrix Values
DATABASE_ID_CHAT=chat
COLLECTION_ID_USERS=users
